
.cormorant-garamond {
    font-family: "Cormorant Garamond", serif;
}

.playfair-display {
    font-family: "Playfair Display", serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
}

.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
}